@use '../abstracts';

// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */

* {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  text-decoration: none;
  color: abstracts.$text-color;
  
  @include abstracts.on-event {
    &::before {
      content: '';
      position: absolute;
      background-color: #DB2A6B;
      width: 40%;
      height: 3px;
      border-radius: 2px;
      bottom: 0;
      animation: undeline .6s 1;
    }

    @keyframes undeline {
      from {width: 1%;}
      to {width: 40%;}
    }
  }
}

li {
  list-style: none;
}