// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: "Poppins", sans-serif;

/// Code (monospace) font family
/// @type List
$code-font-stack: "Merriweather", serif;

// Colores:
$text-color: #fff;

/// Container's maximum width
/// @type Length
$max-width: 1280px !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
	'small': 320px,
	'medium': 768px,
	'large': 1024px,
);

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;
