@use '../themes/default';

body {
    background-color: default.$default-theme-color;
    background-image: url(../../../img/Circulos.svg);
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 140%;
}