@use '../themes/default';

body {
    height: 100vh;
    background-color: default.$default-theme-color;
    background-image: url(../../../img/Circulos.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}