@use '../abstracts';

// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 70px;

    .container {
        @extend .flex;

        .header__nav {
            
            &--navBar {
                padding-right: 40px;
                @extend .flex;
                
                a {
                    padding: 8px 20px;
                    font-size: 14px;
                    font-weight: 100;
                    position: relative;
                    letter-spacing: 1.3px;

                    @include abstracts.on-event {
                        font-weight: 300;
                        &::before {
                            content: '';
                            position: absolute;
                            background-color: #DB2A6B;
                            width: 40%;
                            height: 3px;
                            border-radius: 2px;
                            bottom: 0;
                            animation: undeline .6s 1;
                        }
                    
                        @keyframes undeline {
                            from {width: 1%;}
                            to {width: 40%;}
                        }
                    }
                }
            }
        }
    }
}